<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>generation_count</key>
		<integer>3</integer>
		<key>max_member_count</key>
		<integer>4</integer>
		<key>generation1</key>
		<array>
			<dict>
				<key>age</key>
				<integer>74</integer>
				<key>child_id</key>
				<array>
					<integer>1950707440</integer>
				</array>
				<key>cid</key>
				<integer>1962278209</integer>
				<key>couple_id</key>
				<string></string>
				<key>cust_name</key>
				<string>空</string>
				<key>fathor_id</key>
				<string></string>
				<key>gender</key>
				<string>F</string>
				<key>mathor_id</key>
				<string></string>
				<key>x</key>
				<integer>1</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>age</key>
				<integer>74</integer>
				<key>child_id</key>
				<array>
					<integer>1950707440</integer>
				</array>
				<key>cid</key>
				<integer>1962278209</integer>
				<key>couple_id</key>
				<string></string>
				<key>cust_name</key>
				<string>牛海云</string>
				<key>fathor_id</key>
				<string></string>
				<key>gender</key>
				<string>F</string>
				<key>mathor_id</key>
				<string></string>
				<key>x</key>
				<integer>1</integer>
				<key>y</key>
				<integer>2</integer>
			</dict>
		</array>
		<key>generation2</key>
		<array>
			<dict>
				<key>age</key>
				<integer>56</integer>
				<key>child_id</key>
				<array>
					<integer>1950784411</integer>
					<integer>1950766889</integer>
				</array>
				<key>cid</key>
				<real>1950707440</real>
				<key>couple_id</key>
				<real>1956842773</real>
				<key>cust_name</key>
				<string>冯忠平</string>
				<key>fathor_id</key>
				<string></string>
				<key>gender</key>
				<string>M</string>
				<key>mathor_id</key>
				<integer>1962278209</integer>
				<key>x</key>
				<integer>2</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>age</key>
				<integer>53</integer>
				<key>child_id</key>
				<array>
					<integer>1950784411</integer>
					<integer>1950766889</integer>
				</array>
				<key>cid</key>
				<real>1956842773</real>
				<key>couple_id</key>
				<real>1950707440</real>
				<key>cust_name</key>
				<string>张金萍</string>
				<key>fathor_id</key>
				<string></string>
				<key>gender</key>
				<string>F</string>
				<key>mathor_id</key>
				<string></string>
				<key>x</key>
				<integer>2</integer>
				<key>y</key>
				<integer>2</integer>
			</dict>
		</array>
		<key>generation3</key>
		<array>
			<dict>
				<key>age</key>
				<integer>30</integer>
				<key>child_id</key>
				<array/>
				<key>cid</key>
				<integer>1950784411</integer>
				<key>couple_id</key>
				<string></string>
				<key>cust_name</key>
				<string>空</string>
				<key>fathor_id</key>
				<string></string>
				<key>gender</key>
				<string>M</string>
				<key>mathor_id</key>
				<string></string>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>age</key>
				<integer>30</integer>
				<key>child_id</key>
				<array/>
				<key>cid</key>
				<integer>1950784411</integer>
				<key>couple_id</key>
				<string></string>
				<key>cust_name</key>
				<string>冯琦雯</string>
				<key>fathor_id</key>
				<integer>1950707440</integer>
				<key>gender</key>
				<string>F</string>
				<key>mathor_id</key>
				<integer>1956842773</integer>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>age</key>
				<integer>20</integer>
				<key>child_id</key>
				<array/>
				<key>cid</key>
				<integer>1950766889</integer>
				<key>couple_id</key>
				<string></string>
				<key>cust_name</key>
				<string>冯胤铭</string>
				<key>fathor_id</key>
				<integer>1950707440</integer>
				<key>gender</key>
				<string>M</string>
				<key>mathor_id</key>
				<integer>1956842773</integer>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>age</key>
				<integer>20</integer>
				<key>child_id</key>
				<array/>
				<key>cid</key>
				<integer>1950766889</integer>
				<key>couple_id</key>
				<string></string>
				<key>cust_name</key>
				<string>空</string>
				<key>fathor_id</key>
				<string></string>
				<key>gender</key>
				<string>F</string>
				<key>mathor_id</key>
				<string></string>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>4</integer>
			</dict>
		</array>
	</dict>
	<key>code</key>
	<integer>0</integer>
	<key>msg</key>
	<string>SUCCESS</string>
	<key>version</key>
	<string>2.5.0</string>
	<key>queryTime</key>
	<real>646.55546</real>
</dict>
</plist>
